services:

  mysql-auth:
    image: mysql:8
    container_name: mysql-auth
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: authdb
    ports:
      - "3306:3306"
    volumes:
      - mysql-auth-data:/var/lib/mysql
    networks:
      - microservices-net
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10

  auth-service:
    build: .
    container_name: auth-service
    restart: always
    depends_on:
      mysql-auth:
        condition: service_healthy
    ports:
      - "8070:8070"
    networks:
      - microservices-net

networks:
  microservices-net:
    driver: bridge

volumes:
  mysql-auth-data:
